// if it has a class we presume it's styled
ul[class],
ol[class] {
  padding-left: var(--theme-spacing--gutter);
  margin: 0 0 0.5em 0;
  list-style: none;
}
[class] li {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.skills li {
  list-style-type: "🎯    ";
}
.modules li,
.blocks li {
  list-style-type: "🧩   ";
}
.objectives li {
  list-style-type: "✅   ";
}

dl {
  display: flex;
  flex-flow: row wrap;
  dt {
    font-weight: bold;
    width: 10ch;
  }
  dd {
    width: calc(100% - 10ch);
    margin: 0;
  }
}
