{{ define "main" }}
<section class="copy">{{.Content}}</section>

<!-- get all the pages -->
{{ $baseURL := .Site.BaseURL }} {{ $blocks := .Site.Pages }} {{ $skills :=
.Site.Taxonomies.skills }} {{ $modules := .Site.Params.modules }}
<h2 class="is-invisible">List of Links to all content organised by module</h2>
<!-- range over the fixed modules list in the site config, order them by the page param "week" and show them using this template -->
{{ range $name := $modules }}
<details>
  <summary>
    <h3>
      <a href="{{ $baseURL }}modules/{{ $name | urlize }}">{{ $name }}</a>
    </h3>
  </summary>
  <ol class="blocks">
    {{ $moduleBlocks := (where $blocks ".Params.modules" "intersect" (slice
    $name)) }} {{ range $moduleBlocks.ByParam "week" }}
    <li>
      <a href="{{ $baseURL }}{{ .RelPermalink }}">
        <h4>{{ .Title }}</h4>
        <p>
          {{ range .Params.skills }}
          <a
            class="button button--small"
            href="{{ $baseURL }}skills/{{. | urlize}}"
            >{{ . }}</a
          >
          {{ end }}
        </p>
      </a>
    </li>
    {{ end }}
  </ol>
</details>

{{ end }} {{ end }}
