{{ define "main" }}
<header class="c-page-header c-page-header--splash">
  <div class="c-page-header__container">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="c-page-header__title e-heading__1">🧑🏾‍🏫🧑🏽‍💻{{.Title}}</h1>
    <h2 class="c-page-header__description e-heading__3">{{.Description}}</h2>
  </div>
</header>
<section class="copy">{{.Content}}</section>

<!-- get all the pages -->
{{ $baseURL := .Site.BaseURL }} {{ $blocks := .Site.Pages }} {{ $skills :=
.Site.Taxonomies.skills }} {{ $modules := .Site.Params.modules }}
<h2 class="is-invisible">List of Links to all content organised by module</h2>
<!-- range over the fixed modules list in the site config, order them by the page param "week" and show them using this template -->
{{ range $name := $modules }}
<h3>
  🧩 <a href="{{ $baseURL }}modules/{{ $name | urlize }}">{{ $name }} 🔗</a>
</h3>

{{ end }} {{ end }}
